name: Build Hotel System

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # ТРЕБОВАНИЕ ЗАДАНИЯ: Две разные платформы
        rid: [win-x64, linux-x64]

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      # Сборка под конкретную платформу из matrix
      run: dotnet build --no-restore --configuration Release --runtime ${{ matrix.rid }}